{
  "parser": "babel-eslint",
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-with": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "comma-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "semi-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-str": 2,
    "space-before-function-paren": 0,
    "no-spaced-func": 2,
    "space-in-parens": [
      2,
      "never"
    ],
    "comma-dangle": 0,
    "no-trailing-spaces": 2,
    "no-unused-vars": [
      2,
      {
        "vars": "local",
        "args": "after-used"
      }
    ],
    "keyword-spacing": [
      2,
      {}
    ],
    "semi": [
      2,
      "always"
    ],
    "comma-style": [
      2,
      "last"
    ],
    "eol-last": 2,
    "space-infix-ops": 2,
    "space-before-blocks": [
      2,
      "always"
    ],
    "curly": [
      2,
      "all"
    ]
  }
}
