.header-contact {
  float: left;

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: $gray-primary;

    .icon {
      font-size: 24px;
      margin-right: 8px;
      color: $brand-primary;
    }
  }
}
