.header-search {
  float: left;

  // .clasa ul li
  // .clasa li
  li {
    display: inline-block;

    // ... li:first-of-type
    &:first-of-type {
      color: $brand-primary;
      margin-right: 8px;
    }
  }

  .icon {
    font-size: 30px;
  }
}
