.footer-main {
  $footer-bg: #1b1927;

  background-color: $footer-bg;
  color: $gray-secondary;
  padding: 30px 0;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 16px;

  .footer-nav {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up('lg') {
      width: 100%;
      margin-bottom: 30px;
    }

    ul {
      width: 50%;
      margin-bottom: 30px;
      text-transform: uppercase;

      @include media-breakpoint-up('lg') {
        width: auto;
        margin: 0 60px 0 0;
      }
    }

    li {
      margin-bottom: 20px;

      @include media-breakpoint-up('lg') {
        margin-bottom: 8px;
      }
    }

    a {
      font-size: 14px;
      text-decoration: none;
      color: $gray-secondary;
    }
  }

  .footer-support {
    order: 1;
    text-align: center;

    @include media-breakpoint-up('lg') {
      order: initial;
      margin-right: 128px;
    }

    li {
      display: inline-block;
      margin: 0 6px;
    }

    a {
      color: $gray-secondary;
      text-decoration: none;
      text-transform: uppercase;

      .icon {
        font-size: 30px;
        color: $brand-primary;
        display: block;
        margin-bottom: 6px;
      }
    }
  }

  .footer-contact {
    margin: 30px 0;

    // my-lg-0
    @include media-breakpoint-up('lg') {
      margin: 0;
    }

    h1 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }

    a {
      color: $gray-secondary;
      text-decoration: none;
      display: block;

      &:last-of-type {
        color: $brand-primary;
      }
    }
  }
}
