.home-catalog-preview {
  // .home-catalog-preview > header
  & > header {
    text-align: center;

    // .home-catalog-preview > header h1
    h1 {
      font-size: 24px;
      color: $brand-primary;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      margin: 16px auto 24px auto;
      width: 320px;
    }
  }

  // .content-main .home-catalog-preview:nth-child(1) header -> block
  .content-main &:nth-child(1) > header {
    display: block !important;
  }

  // .content-main .home-catalog-preview:nth-child(2) .product-tile
  .content-main &:nth-child(2) .product-tile {
    display: none;

    &:first-child {
      display: block;
    }
  }
}
