.home-newsletter {
  background-color: $gray-tertiary;
  color: $white;
  padding: 40px 0;
  text-align: center;

  form {
    label {
      font-size: 19px;
      text-transform: uppercase;

      span {
        font-size: 55px;
        font-weight: bold;
      }
    }

    input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $white;
      padding-bottom: 8px;
      color: $white;
      text-transform: lowercase;
      font-size: 19px;
      text-align: center;
      width: 80%;
      display: block;
      margin: 36px auto;
      font-weight: 100;
    }

    // .home-newsletter form [type="submit"]
    button[type='submit'] {
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 300;
      color: $white;
      background: transparent url('../images/icons/mail-send.png') no-repeat
        center right;
      min-height: 60px;
      padding-right: 130px;
      border: 0;
    }
  }
}
